.tableHeader {
  display: grid;
  display: -ms-grid;
  column-gap: 30px;
  align-items: end;
  -ms-grid-row-align: end;
  width: 100%;
  border-bottom: 2px solid #fff;

  div {
    padding: 5px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    -ms-grid-row-align: end;
    border-bottom: 0px;

    span {
      &:hover {
        cursor: pointer;
      }
    }

    &.sectionHeader {
      padding: 0px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;

      div {
        div {
          &:hover {
            cursor: auto !important;
          }
        }
      }

      > div {
        background: rgba(229,245,249, 0.5);
        padding: 0px;
      }

      > span {
        display: block;
        text-align: center;
        font-size: 16px;
        padding-bottom: 10px;
        &:hover {
          cursor: auto !important;
        }
      }
    }
  }
}

.sortArrow {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid white;
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-right: -5px;

  &.down {
    border-top: 5px solid white;
    border-bottom: 0px;
    bottom: -7px;
  }
}
